<header class="fixed_top">
  <div class="top_box">
    <div class="top_l fl">
      <a href="/" class="fl"><img src="/images/ilogo.png" alt=""></a>
      <ul class="top_nav fl">
        <li class="cour_all"><a href="#">课程</a>
          <ul>
             <li><a href="#"><i class="iconfont icon-computer"></i>计算机</a></li>
             <li><a href="#"><i class="iconfont icon-eco-management"></i>经济管理</a></li>
             <li><a href="#"><i class="iconfont icon-psychology"></i>心理学</a></li>
             <li><a href="#"><i class="iconfont icon-foreign-language"></i>外语</a></li>
             <li><a href="#"><i class="iconfont icon-literary-history"></i>文学历史</a></li>
             <li><a href="#"><i class="iconfont icon-art"></i>艺术设计</a></li>
             <li><a href="#"><i class="iconfont icon-engineering"></i>工学</a></li>
             <li><a href="#"><i class="iconfont icon-neo"></i>理学</a></li>
             <li><a href="#"><i class="iconfont icon-science"></i>生命科学</a></li>
             <li><a href="#"><i class="iconfont icon-philosophy"></i>哲学</a></li>
             <li><a href="#"><i class="iconfont icon-law"></i>法学</a></li>
             <li><a href="#"><i class="iconfont icon-teaching-method"></i>教育教学</a></li>
          </ul>
        </li>
        <li><a href="/eli_school">名校</a></li>
        <li><a href="#">2019考研</a></li>
        <li><a href="#">学校云</a></li>
        <li><a href="/stu_question">学 • 问</a></li>
      </ul>
    </div>
    <div class="top_r fr">
      <div class="search_box fl">
        <input type="search" name="" value="" placeholder="搜索感兴趣的课程">
        <a class="search_btn"><i class="iconfont icon-search"></i></a>
      </div>
      <div class="log_reg fr">
        <a href="/login">登录</a>
        <a href="/regist">注册</a>
      </div>
    </div>
  </div>
</header>
