<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学·问-中国大学MOOC</title>
  <link rel="stylesheet" href="/css/reset.css">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="bookmark" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_631396_t4krfqhryk8x5hfr.css">
  <link rel="stylesheet" href="/css/mooc.css">
</head>
<body>
  <div id="wrapper" class="stu_question bg_e">
    <%-include('include/header')%>
    <div class="container">
        <h1><a href="/stu_question"></a></h1>
        <div class="content">
          <div class="con_l fl">
              <div class="tag_lis_box">
                <ul class="tag_lis">
                  <li class="current">全部</li>
                  <li>精选</li>
                  <li>站内活动</li>
                  <li>学习分享</li>
                  <li>课程推荐</li>
                  <li>优质问答</li>
                  <li>问题库</li>
                  <li>学识体系</li>
                  <li>慕课大V</li>
                  <li>2017奖学金</li>
                  <li>2016奖学金</li>
                  <li>新手帮助</li>
                  <li>招人啦</li>
                </ul>
              </div>
              <div class="tag_con_box">
                <ul class="tag_lis">
                  <ol class="current">时间排序</ol>
                  <ol>热度排序</ol>
                </ul>
                <a href="new_post" class="new_topic"><span>+</span>发表主题</a>
                <div class="tag_item_lis">
                  <ul>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon02.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="/stu_answer">萌新答疑速查目录！</a><span class="replay_top_btn">置顶</span><span class="tags" style="background: rgb(243, 156, 18);">新手帮助</span></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">
                               每年正值开学、开课季，都会涌入一波萌萌哒的小鲜肉！慕课君在鼓掌、撒花欢迎的同时 ~(～￣▽￣)～，也发现了大家诸多的问题：“结束的课程视频如何观看？”“作业如何完成？”“如何获得优秀证书呢？”     ……所以，慕课君为萌新们献上一份中国大学MOOC答疑速查指南，新人们可以根据目录迅速定位到自己所要查找的答案！>>> 轻戳目录即可跳转至相关
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg01.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">管理员的小助手</a>
                           <span class="time">发表于2017年02月23日</span>
                           <em></em>
                           <a href="#" title="尹聪mooc">尹聪mooc</a>
                           <span class="time">最后回复(4月13日)  </span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;69</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;31</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon03.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">如何高效学习MOOC课程，大家各抒己见</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">有时候感觉知识点的记忆并不深刻，或者
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">胡观昕</a>
                           <span class="time">发表于2018年04月22日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon04.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">关于慕课</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">已经开设的课程是否能会看，有时间限制么？若不能回看下一学年还会在开课么？
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">wc15925131387163com</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#">张斯瑀</a>
                           <span class="time">最后回复(4月21日)</span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;1</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon01.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">GGB中的定向移动动画制作</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">如图，圆上有两个动点A和B，如何实现点A沿着圆动态移动到点B的动画，要求，点A和B同时可以在圆上自由拖动。
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg02.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">牛耕zdg</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon02.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">萌新答疑速查目录！</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">
                               每年正值开学、开课季，都会涌入一波萌萌哒的小鲜肉！慕课君在鼓掌、撒花欢迎的同时 ~(～￣▽￣)～，也发现了大家诸多的问题：“结束的课程视频如何观看？”“作业如何完成？”“如何获得优秀证书呢？”     ……所以，慕课君为萌新们献上一份中国大学MOOC答疑速查指南，新人们可以根据目录迅速定位到自己所要查找的答案！>>> 轻戳目录即可跳转至相关
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg01.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">管理员的小助手</a>
                           <span class="time">发表于2017年02月23日</span>
                           <em></em>
                           <a href="#" title="尹聪mooc">尹聪mooc</a>
                           <span class="time">最后回复(4月13日)  </span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;69</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;31</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon03.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">如何高效学习MOOC课程，大家各抒己见</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">有时候感觉知识点的记忆并不深刻，或者
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">胡观昕</a>
                           <span class="time">发表于2018年04月22日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon04.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">关于慕课</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">已经开设的课程是否能会看，有时间限制么？若不能回看下一学年还会在开课么？
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">wc15925131387163com</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#">张斯瑀</a>
                           <span class="time">最后回复(4月21日)</span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;1</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon01.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">GGB中的定向移动动画制作</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">如图，圆上有两个动点A和B，如何实现点A沿着圆动态移动到点B的动画，要求，点A和B同时可以在圆上自由拖动。
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg02.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">牛耕zdg</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon02.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">萌新答疑速查目录！</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">
                               每年正值开学、开课季，都会涌入一波萌萌哒的小鲜肉！慕课君在鼓掌、撒花欢迎的同时 ~(～￣▽￣)～，也发现了大家诸多的问题：“结束的课程视频如何观看？”“作业如何完成？”“如何获得优秀证书呢？”     ……所以，慕课君为萌新们献上一份中国大学MOOC答疑速查指南，新人们可以根据目录迅速定位到自己所要查找的答案！>>> 轻戳目录即可跳转至相关
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg01.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">管理员的小助手</a>
                           <span class="time">发表于2017年02月23日</span>
                           <em></em>
                           <a href="#" title="尹聪mooc">尹聪mooc</a>
                           <span class="time">最后回复(4月13日)  </span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;69</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;31</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon03.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">如何高效学习MOOC课程，大家各抒己见</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">有时候感觉知识点的记忆并不深刻，或者
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">胡观昕</a>
                           <span class="time">发表于2018年04月22日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon04.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">关于慕课</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">已经开设的课程是否能会看，有时间限制么？若不能回看下一学年还会在开课么？
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">wc15925131387163com</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#">张斯瑀</a>
                           <span class="time">最后回复(4月21日)</span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;1</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon01.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">GGB中的定向移动动画制作</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">如图，圆上有两个动点A和B，如何实现点A沿着圆动态移动到点B的动画，要求，点A和B同时可以在圆上自由拖动。
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg02.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">牛耕zdg</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon02.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">萌新答疑速查目录！</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">
                               每年正值开学、开课季，都会涌入一波萌萌哒的小鲜肉！慕课君在鼓掌、撒花欢迎的同时 ~(～￣▽￣)～，也发现了大家诸多的问题：“结束的课程视频如何观看？”“作业如何完成？”“如何获得优秀证书呢？”     ……所以，慕课君为萌新们献上一份中国大学MOOC答疑速查指南，新人们可以根据目录迅速定位到自己所要查找的答案！>>> 轻戳目录即可跳转至相关
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg01.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">管理员的小助手</a>
                           <span class="time">发表于2017年02月23日</span>
                           <em></em>
                           <a href="#" title="尹聪mooc">尹聪mooc</a>
                           <span class="time">最后回复(4月13日)  </span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;69</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;31</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon03.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">如何高效学习MOOC课程，大家各抒己见</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">有时候感觉知识点的记忆并不深刻，或者
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">胡观昕</a>
                           <span class="time">发表于2018年04月22日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon04.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">关于慕课</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">已经开设的课程是否能会看，有时间限制么？若不能回看下一学年还会在开课么？
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">wc15925131387163com</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#">张斯瑀</a>
                           <span class="time">最后回复(4月21日)</span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;1</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon01.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">GGB中的定向移动动画制作</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">如图，圆上有两个动点A和B，如何实现点A沿着圆动态移动到点B的动画，要求，点A和B同时可以在圆上自由拖动。
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg02.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">牛耕zdg</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon02.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">萌新答疑速查目录！</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">
                               每年正值开学、开课季，都会涌入一波萌萌哒的小鲜肉！慕课君在鼓掌、撒花欢迎的同时 ~(～￣▽￣)～，也发现了大家诸多的问题：“结束的课程视频如何观看？”“作业如何完成？”“如何获得优秀证书呢？”     ……所以，慕课君为萌新们献上一份中国大学MOOC答疑速查指南，新人们可以根据目录迅速定位到自己所要查找的答案！>>> 轻戳目录即可跳转至相关
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg01.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">管理员的小助手</a>
                           <span class="time">发表于2017年02月23日</span>
                           <em></em>
                           <a href="#" title="尹聪mooc">尹聪mooc</a>
                           <span class="time">最后回复(4月13日)  </span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;69</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;31</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon03.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">如何高效学习MOOC课程，大家各抒己见</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">有时候感觉知识点的记忆并不深刻，或者
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">胡观昕</a>
                           <span class="time">发表于2018年04月22日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon04.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">关于慕课</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">已经开设的课程是否能会看，有时间限制么？若不能回看下一学年还会在开课么？
                             </a>
                           </p>
                           <p class="post_img">
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">wc15925131387163com</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#">张斯瑀</a>
                           <span class="time">最后回复(4月21日)</span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;1</span>
                         </div>
                      </div>
                    </li>
                    <li>
                      <div class="face">
                        <a href="#">
                          <img src="/images/hicon01.jpg" alt="">
                        </a>
                      </div>
                      <div class="item_wrap">
                         <h2><a href="#">GGB中的定向移动动画制作</a></h2>
                         <div class="cnt">
                           <p class="post_cnt">
                             <a href="#">如图，圆上有两个动点A和B，如何实现点A沿着圆动态移动到点B的动画，要求，点A和B同时可以在圆上自由拖动。
                             </a>
                           </p>
                           <p class="post_img">
                             <a href="#"><img src="/images/postimg02.jpg" alt=""></a>
                           </p>
                         </div>
                         <div class="tag_item_info">
                           <a class="name" href="#">牛耕zdg</a>
                           <span class="time">发表于2018年04月21日</span>
                           <em></em>
                           <a href="#"></a>
                           <span class="time"></span>
                         </div>
                         <div class="tag_item_func">
                           <span class="browsenum iconfont icon-vote">&nbsp;0</span>
                           <span class="replynum  iconfont icon-reply">&nbsp;0</span>
                         </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <ul class="tag_page">
                  <li class="page_prev z-dis"><a>上一页</a></li>
                  <li class="current"><a>1</a></li>
                  <li><a>2</a></li>
                  <li><a>3</a></li>
                  <li><a>4</a></li>
                  <li><a>5</a></li>
                  <li><a>6</a></li>
                  <li><a>7</a></li>
                  <li><span>...</span></li>
                  <li><a>1202</a></li>
                  <li><a>1203</a></li>
                  <li class="page_next"><a>下一页</a></li>
                </ul>
              </div>
          </div>
          <div class="con_r fr">
            <div class="person">
               <a>
                 <img src="/images/plogin.png" alt="">
                 <span>立即登录</span>
               </a>
            </div>
          </div>
        </div>
    </div>
    <%-include('include/footer')%>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
