<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>中国大学MOOC</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_631396_pyjvnh505w5ewmi.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div id="fixedTop" class="fixed_top p_fixed">
    <div class="top_box">
      <div class="top_l fl">
        <a href="/index" class="fl"><img src="/images/ilogo.png" alt=""></a>
        <ul class="top_nav fl">
          <li class="cour_all"><a href="#">课程</a>
            <ul>
               <li><a href="#"><i class="iconfont icon-computer"></i>计算机</a></li>
               <li><a href="#"><i class="iconfont icon-eco-management"></i>经济管理</a></li>
               <li><a href="#"><i class="iconfont icon-psychology"></i>心理学</a></li>
               <li><a href="#"><i class="iconfont icon-foreign-language"></i>外语</a></li>
               <li><a href="#"><i class="iconfont icon-literary-history"></i>文学历史</a></li>
               <li><a href="#"><i class="iconfont icon-art"></i>艺术设计</a></li>
               <li><a href="#"><i class="iconfont icon-engineering"></i>工学</a></li>
               <li><a href="#"><i class="iconfont icon-neo"></i>理学</a></li>
               <li><a href="#"><i class="iconfont icon-science"></i>生命科学</a></li>
               <li><a href="#"><i class="iconfont icon-philosophy"></i>哲学</a></li>
               <li><a href="#"><i class="iconfont icon-law"></i>法学</a></li>
               <li><a href="#"><i class="iconfont icon-teaching-method"></i>教育教学</a></li>
            </ul>
          </li>
          <li><a href="/eli_school">名校</a></li>
          <li><a href="#">2019考研</a></li>
          <li><a href="#">学校云</a></li>
          <li><a href="/stu_question">学 • 问</a></li>
        </ul>
      </div>
      <div class="top_r fr">
        <div class="search_box fl">
          <input type="search" name="" value="" placeholder="搜索感兴趣的课程">
          <a class="search_btn"><i class="iconfont icon-search"></i></a>
        </div>
        <div class="log_reg fr">
          <a href="/login">登录</a>
          <a href="/regist">注册</a>
        </div>
      </div>
    </div>
  </div>
  <header>
    <div class="he_top">
      <a href="javascript:void(0)"><img src="/images/logo.png" alt="logo"></a>
      <div class="r_box fr">
        <div class="search_box fl">
          <input type="search" name="" value="" placeholder="搜索感兴趣的课程">
          <a class="search_btn"><i class="iconfont icon-search"></i></a>
        </div>
        <div class="log_reg fr">
          <a href="/login">登录</a>
          <a href="/regist">注册</a>
        </div>
      </div>
    </div>
    <nav>
      <div class="nav_li">
        <a href="#">课程</a>
        <a href="#">名校</a>
        <a href="#">2019考研</a>
        <a href="#">学校云</a>
        <a href="/stu_question">学 ▪ 问</a>
      </div>
      <div class="nav_ad">
        <a href="#">极客战绩</a>
        <a href="#">网易云课堂</a>
        <a class="more_cour" href="#">更多课程频道</a>
        <div class="cour_content">
          <a class="c_a" href="#">大学先修课</a>
          <a class="c_a" href="#">职业教育课程</a>
          <span></span>
        </div>
      </div>
    </nav>
  </header>
  <section class="banner_box">
    <div class="items_banner_log">
      <aside class="items">
          <ul>
             <li><a href="#"><i class="iconfont icon-computer"></i>计算机</a></li>
             <li><a href="#"><i class="iconfont icon-eco-management"></i>经济管理</a></li>
             <li><a href="#"><i class="iconfont icon-post"></i>考研</a></li>
             <li><a href="#"><i class="iconfont icon-psychology"></i>心理学</a></li>
             <li><a href="#"><i class="iconfont icon-foreign-language"></i>外语</a></li>
             <li><a href="#"><i class="iconfont icon-literary-history"></i>文学历史</a></li>
             <li><a href="#"><i class="iconfont icon-art"></i>艺术设计</a></li>
             <li><a href="#"><i class="iconfont icon-engineering"></i>工学</a></li>
             <li class="more"><a href="#"><i class="iconfont icon-more2"></i>更多</a>
                <ul class="more_lis">
                  <li><a href="#"><i class="iconfont icon-science"></i>生命科学</a></li>
                  <li><a href="#"><i class="iconfont icon-philosophy"></i>哲学</a></li>
                  <li><a href="#"><i class="iconfont icon-law"></i>法学</a></li>
                  <li><a href="#"><i class="iconfont icon-teaching-method"></i>教育教学</a></li>
                </ul>
             </li>
             <!-- <li><a href="#"><i class="iconfont icon-neo"></i>理学</a></li> -->

          </ul>
      </aside>
      <div class="banner">
         <ul class="imgs">
           <li><a href="#"><img src="/images/slimg01.jpg" alt=""></a></li>
           <li><a href="#"><img src="/images/slimg02.jpg" alt=""></a></li>
           <li><a href="#"><img src="/images/slimg03.jpg" alt=""></a></li>
           <li><a href="#"><img src="/images/slimg04.jpg" alt=""></a></li>
           <li><a href="#"><img src="/images/slimg05.jpg" alt=""></a></li>
           <li><a href="#"><img src="/images/slimg06.jpg" alt=""></a></li>
         </ul>
         <div class="prev hide"><i class="iconfont icon-prev"></i></div>
         <div class="next hide"><i class="iconfont icon-next"></i></div>
         <div class="controls">
            <span class="now"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </div>
      </div>
      <div class="log">
        <div class="log_box">
          <p>免费学习名校名师的精品课程</p>
          <img src="/images/login.png" alt="">
          <a href="/login">登录</a>
          <span>网易和高等教育出版社出品</span>
        </div>
      </div>
    </div>
  </section>
  <section class="sch_logos o_f">
    <div class="sch_box">
      <p class="fl"><a href="#">全国197所合作高校</a></p>
      <div class="fl">
        <a href="#"><img src="/images/sch01.png" alt=""></a>
        <a href="#"><img src="/images/sch02.png" alt=""></a>
        <a href="#"><img src="/images/sch03.png" alt=""></a>
        <a href="#"><img src="/images/sch04.png" alt=""></a>
        <a href="#"><img src="/images/sch05.png" alt=""></a>
      </div>
    </div>
  </section>
  <section class="rec_cour ">
    <div class="com_style con_style_ul">
      <div class="o_f">
        <h1 class="fl">推荐课程</h1>
      </div>
      <ul>
        <li>
          <a href="#">
            <div><img src="/images/recourlis01.jpg" alt=""></div>
            <dl>
              <dt>英国社会与文化</dt>
              <dd><em>经性质第一周</em></dd>
              <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
              <dd>370分钟深入了解英国</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <div><img src="/images/recourlis02.jpg" alt=""></div>
            <dl>
              <dt>英国社会与文化</dt>
              <dd><em>经性质第一周</em></dd>
              <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
              <dd>370分钟深入了解英国</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <div><img src="/images/recourlis03.jpg" alt=""></div>
            <dl>
              <dt>英国社会与文化</dt>
              <dd><em>经性质第一周</em></dd>
              <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
              <dd>370分钟深入了解英国</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <div><img src="/images/recourlis04.jpg" alt=""></div>
            <dl>
              <dt>英国社会与文化</dt>
              <dd><em>经性质第一周</em></dd>
              <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
              <dd>370分钟深入了解英国</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <div><img src="/images/recourlis05.jpg" alt=""></div>
            <dl>
              <dt>英国社会与文化</dt>
              <dd><em>经性质第一周</em></dd>
              <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
              <dd>370分钟深入了解英国</dd>
            </dl>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="discuss o_f">
    <div class="com_style_n">
        <div class="dis_l fl">
          <img src="/images/discuss.png" alt="">
          <h3>一起学习 一起成长</h3>
          <a href="#">加入中国大学MOOC</a>
          <span>已有198.97万老师和同学在此发言讨论</span>
        </div>
        <div class="dis_r fr">
            <div class="item">
              <a href="#">
                <dl>
                  <dt><img src="/images/person01.jpg" alt=""><span>张晓文</span><span>老师</span></dt>
                  <dd>来自<em>爱情心理学</em></dd>
                </dl>
                <p>你用什么样的方式获得爱？优秀，付出还是情绪？</p>
                <span><i>2806人</i>参加讨论</span>
              </a>
            </div>
            <div class="item">
              <a href="#">
                <dl>
                  <dt><img src="/images/person02.jpg" alt=""><span>孙立</span><span>老师</span></dt>
                  <dd>来自<em>中医与诊断—学做自己的医生</em></dd>
                </dl>
                <p>如何理解“有一份恶寒便有一份表证”？</p>
                <span><i>481人</i>参加讨论</span>
              </a>
            </div>
        </div>
    </div>

  </section>
  <section class="advert">
    <ul>
      <ol><a href="#"><img src="/images/advelis01.jpg" alt=""></a></ol>
      <ol><a href="#"><img src="/images/advelis02.jpg" alt=""></a></ol>
      <ol><a href="#"><img src="/images/advelis03.jpg" alt=""></a></ol>
    </ul>
  </section>
  <section class="computer o_f">
    <div class="com_style" >
      <div class="o_f">
        <h1>计算机</h1>
        <ul class="com_sul fl">
          <li><a href="#">计算机基础</a></li>
          <li><a href="#">编程语言</a></li>
          <li><a href="#">数据库与数据结构</a></li>
          <li><a href="#">计算机应用</a></li>
          <li><a href="#">软件工程</a></li>
          <li><a href="#">计算机组成</a></li>
        </ul>
        <a class="more_all fr" href="#">查看全部>></a>
      </div>
      <div class="content">
         <div class="con_item_l bg_imgcom">
           <a href="#">
             <div class="c_i_t o_f f_4F8DB1">
               <h6>数据结构与算法</h6>
               <h2>问题求解</h2>
               <span>[课时]10'24''</span>
               <div class="play_btn">
                  <i class="iconfont icon-play"></i>
               </div>
             </div>
          </a>
           <dl class="c_i_b">
             <dd><a href="#">数据结构与抽象数据类型</a><span>13’4”</span></dd>
             <dd><a href="#">算法特性及分类</a><span>16’40”</span></dd>
             <dd><a href="#">算法效率与度量</a><span>20’31”</span></dd>
           </dl>
         </div>
         <div class="con_item_m w_b750 con_style_ul">
           <ul>
             <li>
               <a href="#">
                 <div><img src="/images/complis01.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis02.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis03.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis04.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis05.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis06.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
           </ul>
         </div>
         <div class="con_item_r">
           <h2>精彩讨论</h2>
           <ul>
             <ol>
               <a href="#">
                 <p>我们是在学习GCC吗？</p>
                 <span>程序设计入门——C语言</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p>我们是在学习GCC吗？</p>
                 <span>程序设计入门——C语言</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
           </ul>
         </div>
      </div>
    </div>
  </section>
  <section class="economic o_f bg_color">
    <div class="com_style" >
      <div class="o_f">
        <h1>经济管理</h1>
        <ul class="com_sul fl ">
          <li><a href="#">计算机基础</a></li>
          <li><a href="#">编程语言</a></li>
          <li><a href="#">数据库与数据结构</a></li>
          <li><a href="#">计算机应用</a></li>
          <li><a href="#">软件工程</a></li>
          <li><a href="#">计算机组成</a></li>
        </ul>
        <a class="more_all fr" href="#">查看全部>></a>
      </div>
      <div class="content">
         <div class="con_item_l bg_imgeco">
           <a href="#">
             <div class="c_i_t o_f f_F9C63D">
               <h6>数据结构与算法</h6>
               <h2>问题求解</h2>
               <span>[课时]10'24''</span>
               <div class="play_btn">
                  <i class="iconfont icon-play"></i>
               </div>
             </div>
          </a>
           <dl class="c_i_b">
             <dd><a href="#">数据结构与抽象数据类型</a><span>13’4”</span></dd>
             <dd><a href="#">算法特性及分类</a><span>16’40”</span></dd>
             <dd><a href="#">算法效率与度量</a><span>20’31”</span></dd>
           </dl>
         </div>
         <div class="con_item_m w_b750 con_style_ul">
           <ul>
             <li>
               <a href="#">
                 <div><img src="/images/complis01.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis02.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis03.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis04.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis05.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis06.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
           </ul>
         </div>
         <div class="con_item_r">
           <h2>精彩讨论</h2>
           <ul>
             <ol>
               <a href="#">
                 <p>我们是在学习GCC吗？</p>
                 <span>程序设计入门——C语言</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p>我们是在学习GCC吗？</p>
                 <span>程序设计入门——C语言</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
           </ul>
         </div>
      </div>
    </div>
  </section>
  <section class="art o_f bg_color">
    <div class="com_style" >
      <div class="o_f">
        <h1>艺术设计</h1>
        <ul class="com_sul fl ">
          <li><a href="#">计算机基础</a></li>
          <li><a href="#">编程语言</a></li>
          <li><a href="#">数据库与数据结构</a></li>
          <li><a href="#">计算机应用</a></li>
          <li><a href="#">软件工程</a></li>
          <li><a href="#">计算机组成</a></li>
        </ul>
        <a class="more_all fr" href="#">查看全部>></a>
      </div>
      <div class="content">
         <div class="con_item_l bg_imgart">
           <a href="#">
             <div class="c_i_t o_f f_4F8DB1">
               <h6>数据结构与算法</h6>
               <h2>问题求解</h2>
               <span>[课时]10'24''</span>
               <div class="play_btn">
                  <i class="iconfont icon-play"></i>
               </div>
             </div>
          </a>
           <dl class="c_i_b">
             <dd><a href="#">数据结构与抽象数据类型</a><span>13’4”</span></dd>
             <dd><a href="#">算法特性及分类</a><span>16’40”</span></dd>
             <dd><a href="#">算法效率与度量</a><span>20’31”</span></dd>
           </dl>
         </div>
         <div class="con_item_m w_b750 con_style_ul">
           <ul>
             <li>
               <a href="#">
                 <div><img src="/images/complis01.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis02.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis03.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis04.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis05.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis06.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
           </ul>
         </div>
         <div class="con_item_r">
           <h2>精彩讨论</h2>
           <ul>
             <ol>
               <a href="#">
                 <p>我们是在学习GCC吗？</p>
                 <span>程序设计入门——C语言</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p>我们是在学习GCC吗？</p>
                 <span>程序设计入门——C语言</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
           </ul>
         </div>
      </div>
    </div>
  </section>
  <section class="advert">
    <ul>
      <ol><a href="#"><img src="/images/mtolel1.jpg" alt=""></a></ol>
      <ol><a href="#"><img src="/images/mtolel.jpg" alt=""></a></ol>
    </ul>
  </section>
  <section class="engineering o_f bg_color">
    <div class="com_style" >
      <div class="o_f">
        <h1>工学</h1>
        <ul class="com_sul fl ">
          <li><a href="#">计算机基础</a></li>
          <li><a href="#">编程语言</a></li>
          <li><a href="#">数据库与数据结构</a></li>
          <li><a href="#">计算机应用</a></li>
          <li><a href="#">软件工程</a></li>
          <li><a href="#">计算机组成</a></li>
        </ul>
        <a class="more_all fr" href="#">查看全部>></a>
      </div>
      <div class="content">
         <div class="con_item_l bg_imgeng">
           <a href="#">
             <div class="c_i_t o_f f_F9C63D">
               <h6>数据结构与算法</h6>
               <h2>问题求解</h2>
               <span>[课时]10'24''</span>
               <div class="play_btn">
                  <i class="iconfont icon-play"></i>
               </div>
             </div>
          </a>
           <dl class="c_i_b">
             <dd><a href="#">数据结构与抽象数据类型</a><span>13’4”</span></dd>
             <dd><a href="#">算法特性及分类</a><span>16’40”</span></dd>
             <dd><a href="#">算法效率与度量</a><span>20’31”</span></dd>
           </dl>
         </div>
         <div class="con_item_m w_b1004 con_style_ul">
           <ul>
             <li>
               <a href="#">
                 <div><img src="/images/complis01.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis02.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis03.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis04.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis05.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis06.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis05.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis06.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
           </ul>
         </div>
      </div>
    </div>
  </section>
  <section class="neo o_f bg_color">
    <div class="com_style" >
      <div class="o_f">
        <h1>理学</h1>
        <ul class="com_sul fl ">
          <li><a href="#">计算机基础</a></li>
          <li><a href="#">编程语言</a></li>
          <li><a href="#">数据库与数据结构</a></li>
          <li><a href="#">计算机应用</a></li>
          <li><a href="#">软件工程</a></li>
          <li><a href="#">计算机组成</a></li>
        </ul>
        <a class="more_all fr" href="#">查看全部>></a>
      </div>
      <div class="content">
         <div class="con_item_l bg_imgneo">
           <a href="#">
             <div class="c_i_t o_f f_4F8DB1">
               <h6>数据结构与算法</h6>
               <h2>问题求解</h2>
               <span>[课时]10'24''</span>
               <div class="play_btn">
                  <i class="iconfont icon-play"></i>
               </div>
             </div>
          </a>
           <dl class="c_i_b">
             <dd><a href="#">数据结构与抽象数据类型</a><span>13’4”</span></dd>
             <dd><a href="#">算法特性及分类</a><span>16’40”</span></dd>
             <dd><a href="#">算法效率与度量</a><span>20’31”</span></dd>
           </dl>
         </div>
         <div class="con_item_m w_b1004 con_style_ul">
           <ul>
             <li>
               <a href="#">
                 <div><img src="/images/complis01.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis02.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis03.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis04.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis05.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis06.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis05.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis06.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
           </ul>
         </div>
      </div>
    </div>
  </section>
  <section class="bioscience o_f bg_color">
    <div class="com_style" >
      <div class="o_f">
        <h1>生命科学</h1>
        <ul class="com_sul fl ">
          <li><a href="#">计算机基础</a></li>
          <li><a href="#">编程语言</a></li>
          <li><a href="#">数据库与数据结构</a></li>
          <li><a href="#">计算机应用</a></li>
          <li><a href="#">软件工程</a></li>
          <li><a href="#">计算机组成</a></li>
        </ul>
        <a class="more_all fr" href="#">查看全部>></a>
      </div>
      <div class="content">
         <div class="con_item_l bg_imgenv">
           <a href="#">
             <div class="c_i_t o_f f_8EB93B">
               <h6>数据结构与算法</h6>
               <h2>问题求解</h2>
               <span>[课时]10'24''</span>
               <div class="play_btn">
                  <i class="iconfont icon-play"></i>
               </div>
             </div>
          </a>
           <dl class="c_i_b">
             <dd><a href="#">数据结构与抽象数据类型</a><span>13’4”</span></dd>
             <dd><a href="#">算法特性及分类</a><span>16’40”</span></dd>
             <dd><a href="#">算法效率与度量</a><span>20’31”</span></dd>
           </dl>
         </div>
         <div class="con_item_m w_b750 con_style_ul">
           <ul>
             <li>
               <a href="#">
                 <div><img src="/images/complis01.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis02.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis03.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis04.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis05.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
             <li>
               <a href="#">
                 <div><img src="/images/complis06.jpg" alt=""></div>
                 <dl>
                   <dt>高级语言程序设计</dt>
                   <dd>武汉大学<span><i class="iconfont icon-ren"></i>2761</</span></dd>
                 </dl>
               </a>
             </li>
           </ul>
         </div>
         <div class="con_item_r">
           <h2>精彩讨论</h2>
           <ul>
             <ol>
               <a href="#">
                 <p>我们是在学习GCC吗？</p>
                 <span>程序设计入门——C语言</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p>我们是在学习GCC吗？</p>
                 <span>程序设计入门——C语言</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
             <ol>
               <a href="#">
                 <p> 对中等规模、大规模的图书摆放，你有什么更好的建议？</p>
                 <span>数据结构</span>
               </a>
             </ol>
           </ul>
         </div>
      </div>
    </div>
  </section>
  <section class="stuinfo">
    <h1>即便错过心仪的大学，也不要错过中国大学MOOC</h1>
    <div class="stu_box">
      <div class="stus_item">
        <ul>
          <li><img src="/images/stu01.png" alt=""></li>
          <li><h6>陈睿</h6></li>
          <li><span>北京某事业单位</span>公务员</li>
          <li><p>我第一次感受到故宫角楼在夕阳下震撼的美，便是在考完《中国古代建筑艺术》之后的那个下午；学完了《不朽的艺术》，再去博物馆不再是陪儿子完成任务了。学习MOOC之前和之后的对比，让我感受最深的就是鲍勃·迪伦的那句“昔日我曾苍老，如今风华正茂” 。</p></li>
        </ul>
        <ul>
          <li><img src="/images/stu02.png" alt=""></li>
          <li><h6>陈睿</h6></li>
          <li><span>北京某事业单位</span>公务员</li>
          <li><p>我第一次感受到故宫角楼在夕阳下震撼的美，便是在考完《中国古代建筑艺术》之后的那个下午；学完了《不朽的艺术》，再去博物馆不再是陪儿子完成任务了。学习MOOC之前和之后的对比，让我感受最深的就是鲍勃·迪伦的那句“昔日我曾苍老，如今风华正茂” 。</p></li>
        </ul>
        <ul>
          <li><img src="/images/stu01.png" alt=""></li>
          <li><h6>陈睿</h6></li>
          <li><span>北京某事业单位</span>公务员</li>
          <li><p>我第一次感受到故宫角楼在夕阳下震撼的美，便是在考完《中国古代建筑艺术》之后的那个下午；学完了《不朽的艺术》，再去博物馆不再是陪儿子完成任务了。学习MOOC之前和之后的对比，让我感受最深的就是鲍勃·迪伦的那句“昔日我曾苍老，如今风华正茂” 。</p></li>
        </ul>
        <ul>
          <li><img src="/images/stu01.png" alt=""></li>
          <li><h6>陈睿</h6></li>
          <li><span>北京某事业单位</span>公务员</li>
          <li><p>我第一次感受到故宫角楼在夕阳下震撼的美，便是在考完《中国古代建筑艺术》之后的那个下午；学完了《不朽的艺术》，再去博物馆不再是陪儿子完成任务了。学习MOOC之前和之后的对比，让我感受最深的就是鲍勃·迪伦的那句“昔日我曾苍老，如今风华正茂” 。</p></li>
        </ul>
        <ul>
          <li><img src="/images/stu01.png" alt=""></li>
          <li><h6>陈睿</h6></li>
          <li><span>北京某事业单位</span>公务员</li>
          <li><p>我第一次感受到故宫角楼在夕阳下震撼的美，便是在考完《中国古代建筑艺术》之后的那个下午；学完了《不朽的艺术》，再去博物馆不再是陪儿子完成任务了。学习MOOC之前和之后的对比，让我感受最深的就是鲍勃·迪伦的那句“昔日我曾苍老，如今风华正茂” 。</p></li>
        </ul>
        <ul>
          <li><img src="/images/stu01.png" alt=""></li>
          <li><h6>陈睿</h6></li>
          <li><span>北京某事业单位</span>公务员</li>
          <li><p>我第一次感受到故宫角楼在夕阳下震撼的美，便是在考完《中国古代建筑艺术》之后的那个下午；学完了《不朽的艺术》，再去博物馆不再是陪儿子完成任务了。学习MOOC之前和之后的对比，让我感受最深的就是鲍勃·迪伦的那句“昔日我曾苍老，如今风华正茂” 。</p></li>
        </ul>
      </div>
    </div>
    <div class="join">
      <a href="#">加入中国大学MOOC</a>
    </div>
  </section>
  <%-include('include/footer')%>
<script type="text/javascript" src="/js/index.js"></script>

<!-- <script type="text/javascript" src="/js/slideshow.js"></script> -->
</body>
</html>
