<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>中国大学MOOC(慕课)</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_631396_t4krfqhryk8x5hfr.css">
  <link rel="stylesheet" href="/css/mooc.css">
  <link rel="stylesheet" href="/css/log_reg.css">
</head>
<body>
  <div id="wrapper" class="stu_login log_reg">
    <%-include('include/header')%>
    <div id="l_login" class="o_f">
        <div class="l_login_box">
            <div class="l_lt">
                <h1>中国大学MOOC(慕课)</h1>
                <span>分享最酷的知识，获取更大的学问</span>
                <p></p>
            </div>
            <div class="l_rt">
                <p>欢迎登录</p>
                <div class="tab_icons">
                    <div class="login_main_area now">
                        <form action="" method="post" id="login_main_form">
                              <div class="l_label">
                                   <span class="l_ic_1"></span><input type="text" placeholder="邮箱/用户名/手机号" id="userName" autofocus/>
                              </div>
                            <div class="l_label">
                                <span class="l_ic_3"></span><input type="password" placeholder="密码" id="userPwd"/>
                            </div>
                            <div class="l_check">
                                <input type="checkbox" id="userCheck" />记住用户名 <a href="#">忘记密码?</a>
                            </div>
                            <input type="button" value="登录" id="logBtn" />
                            <span>已有爱学记账号？</span><a href="/regist">立即注册</a>
                            <div class="l_cooperate">
                                <span>合作网站登录 :</span>
                                <a class=" l_cpqq" href="#"></a>
                                <a class="l_cpsina" href="#"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('include/footer')%>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
