<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>帖子详情-中国大学MOOC</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_631396_etn85zebnijm7vi.css">
  <link rel="stylesheet" href="/css/mooc.css">
</head>
<body>
  <div id="wrapper" class="new_post stu_answer bg_e">
    <%-include('include/header')%>
    <div class="container">
        <h1><a href="/stu_question"></a></h1>
        <div class="content">
          <div class="con_l fl">
            <ul class="title">
              <li><a href="/stu_question">学·问</a></li>
              <li><span>发表新帖</span></li>
            </ul>
            <div class="post_box">
              <h2>标题</h2>
              <input type="text">
              <h2>内容</h2>
              <div class="editor_box">
                <div class="editor w_930">
                  <div class="eid_title">
                    <div class="zitm z-i-11" title="清空文档">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-9" title="撤销">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-10" title="重做">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-0" title="加粗">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-1" title="斜体">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-2" title="下划线">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-3" title="删除线">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-4" title="有序列表">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-5" title="无序列表">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-7" title="图片">
                      <div class="zicn zbg"></div>
                    </div>
                    <div class="zitm z-i-6" title="超链接">
                      <div class="zicn zbg"></div>
                    </div>
                  </div>
                  <div class="eid_area h_200" contenteditable="true"></div>
                </div>
                <a class="imm_reply">发表</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <%-include('include/footer')%>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
