<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>北京理工大学-中国大学MOOC</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_631396_jycbbgz297h3q5mi.css">
  <link rel="stylesheet" href="/css/mooc.css">
</head>
<body>
  <div id="wrapper" class="sch_detail bg_e">
    <%-include('include/header')%>
    <div class="sch_bg">
       <div class="bg"></div>
    </div>
    <div class="brief">
      <img src="/images/slogo01.png" alt="">
      <div>
        <h2>北京理工大学</h2>
        <p>北京理工大学（Beijing Institute of Technology），是中华人民共和国工业和信息化部直属的以理工为主干，工、理、管、文协调发展的全国重点大学，是首批“211工程”和“985工程”重点建设高校之一，是首批16所全国重点高校之一，是“111计划”、“卓越工程师教育培养计划”、“国家建设高水平大学公派研究生项目”入选高校之一，建有研究生院。学校前身为1940年创建于延安的延安自然科学院，是中国共产党创办的第一所理工科大学；1988年，学校更名为北京理工大学。</p>
      </div>
    </div>
    <div class="container">
      <div class="cour_title cour">
        <h3>课程</h3>
      </div>
      <div class="cour_lis content">
        <div class="tag_cont">
          <ul>
        <li>
          <a href="#">
          <img src="/images/python.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python02.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python02.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python02.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python02.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python02.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python02.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python02.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
        </a>
        </li>
        <li>
          <a href="#">
          <img src="/images/python.jpg" alt="">
          <p>工程图基础及数字化构型</p>
          <p><span>北京理工大学</span> <span class="iconfont icon-clock">9/14 周</span></p>
         </a>
        </li>
      </ul>
        </div>
        <ul class="tag_page">
          <li class="page_prev z-dis"><a>上一页</a></li>
          <li class="current"><a>1</a></li>
          <li><a>2</a></li>
          <li class="page_next"><a>下一页</a></li>
        </ul>
      </div>
      <div class="tech_title cour">
        <h3>老师列表</h3>
      </div>
      <div class="bg-f">
        <div class="tech_lis content">
        <div class="tag_cont">
          <ul>
            <li>
              <a href="#">
              <img src="/images/techimg01.jpg" alt="">
              <p>胡海云<em>教授</em></p>
            </a>
            </li>
            <li>
              <a href="#">
              <img src="/images/techimg01.jpg" alt="">
              <p>胡海云<em>教授</em></p>
            </a>
            </li>
            <li>
              <a href="#">
              <img src="/images/techimg01.jpg" alt="">
              <p>胡海云<em>教授</em></p>
            </a>
            </li>
            <li>
              <a href="#">
              <img src="/images/techimg01.jpg" alt="">
              <p>胡海云<em>教授</em></p>
            </a>
            </li>
            <li>
              <a href="#">
              <img src="/images/techimg01.jpg" alt="">
              <p>胡海云<em>教授</em></p>
            </a>
            </li>
            <li>
              <a href="#">
              <img src="/images/techimg01.jpg" alt="">
              <p>胡海云<em>教授</em></p>
            </a>
            </li>
          </ul>
        </div>
        <ul class="tag_page">
          <li class="page_prev z-dis"><a>上一页</a></li>
          <li class="current"><a>1</a></li>
          <li><a>2</a></li>
          <li class="page_next"><a>下一页</a></li>
        </ul>
      </div>
      </div>
    </div>
    <%-include('include/footer')%>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
