<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>名校-中国大学MOOC</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_631396_t4krfqhryk8x5hfr.css">
  <link rel="stylesheet" href="/css/mooc.css">
</head>
<body>
  <div id="wrapper" class="eli_school">
    <%-include('include/header')%>
    <div class="eli_title">
      <h1>全部学校</h1>
    </div>
    <div class="container">
       <a href="#"><img src="/images/eslogo01.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo02.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo03.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo04.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo05.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo06.jpg" alt="北京大学"></a>
       <a href="/sch_detail"><img src="/images/eslogo07.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo08.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo09.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo10.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo11.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo12.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo01.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo02.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo03.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo04.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo05.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo06.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo07.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo08.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo09.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo10.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo11.jpg" alt="北京大学"></a>
       <a href="#"><img src="/images/eslogo12.jpg" alt="北京大学"></a>
    </div>
    <%-include('include/footer')%>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
